* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EFEFEF;
}

#video {
    text-align: center;
    margin: 10px auto;
    position: relative;
    width: 640px;
    height: 480px;
}

.pan-button, .tilt-button {
    position: absolute;
    width: 20px;
    height: 20px;
}

#pan_button_0 {
    left: 40px;
    bottom: 10px;
}

#pan_button_1 {
    left: 70px;
    bottom: 10px;
}

#pan_button_2 {
    left: 100px;
    bottom: 10px;
}

#pan_button_3 {
    left: 130px;
    bottom: 10px;
}

#pan_button_4 {
    left: 160px;
    bottom: 10px;
}

#tilt_button_0 {
    left: 10px;
    bottom: 40px;
}

#tilt_button_1 {
    left: 10px;
    bottom: 70px;
}

#tilt_button_2 {
    left: 10px;
    bottom: 100px;
}

#tilt_button_3 {
    left: 10px;
    bottom: 130px;
}

#tilt_button_4 {
    left: 10px;
    bottom: 160px;
}

#video img {
    outline: 1px solid black;
    box-shadow: 0 0 10px 1px black;
    border-radius: 5px;
}

#controls {
    position: relative;
    width: 640px;
    margin: 10px auto;
}

.arrow-button {
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 150%;
}

.arrow-button.pressed {
    background-color: #898989;
}

#button_up {
    top: 0;
    left: 300px;
}

#button_down {
    top: 60px;
    left: 300px;
}

#button_left {
    top: 60px;
    left: 240px;
}

#button_right {
    top: 60px;
    left: 360px;
}

#gear {
    font-size: 150%;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
}

#distance-wrapper{
    float: right;
    font-size: 150%;
}